@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 100vh;
    max-width: 1200px;
    font-family: "roboto", sans-serif;
}


.navbar {
    height: 60px;
    color: #f9faf8;
    background-color: #1F2937;
  
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 80%;
    height: 100%;  
}

.navbar .container .logo {
    font-size: 24px;
    font-weight: 700;
}

.navbar .container ul {
    display: flex;
}

.navbar .container ul li {
   list-style: none; 
}

.navbar .container ul li a {
    margin-left: 10px;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;

}

.hero {
    background-color: #1F2937;  
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    margin: 0 auto;
    max-width: 80%;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .container button {
    margin-top: 15px;
    padding: 8px 30px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
}

img {
    min-width: 400px;
    height: 200px;
    background-color: grey;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery {
    padding: 30px 0;
}

.gallery .container {
    display: flex;
    align-items: center;
    gap: 50px;  
    margin: 0 auto;
    max-width: 80%;
}

h2 {
    margin: 40px 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;

}

.gallery .container .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 120px;
}

.gallery .container .boxes p {
    color: #1f2937;
}

.gallery .container .box {
    height: 120px;
    width: 120px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #e5e7eb;
}

.testimonial .container {
    margin: 0 auto;
    max-width: 80%;
}

.testimonial .container h2 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}


.testimonial .container p {
    margin-top: -20px;
    font-weight: 900;
    text-align: right;
    color: #1F2937;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.signup .container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 40px 60px;
    max-width: 80%;
    background-color: #3882f6;
    border-radius: 8px;
}


.signup .container h3 {
    color: #f9faf8;
}

.signup .container button {
    align-self: center;
    padding: 8px 30px;
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 5px;
    border: 1px solid #f9faf8;
}


.signup .container .text {
    display: flex;
    flex-direction: column;
    
}